@tailwind base;
@tailwind components;
@tailwind utilities;


.outer-container {
  
    position: static;
    right: 0;
  }
  
  .inner-container {
    transform: scale(1);
  }

  .recaptcha{
    border: 1px solid rgb(209 213 219)!important;
    border-radius: 10px;
  
}


  
  @media (max-width: 280px) {
    .outer-container {
      position: relative;
      right: 1.50rem;
    }
  
    .inner-container {
      transform: scale(0.7);
    }
  }
  .rc-anchor-normal .rc-anchor-pt {

    text-align: left!important;
  
  }

  body {
    min-height: 101vh;
  }